<section class="login">

  <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
    <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
      <!-- FORM -->
      <form action="/login" method="POST" class="px-5 py-7">
        <% if(messages.error){ %>
          <span class="text-red-500 text-sm"><%= messages.error %></span>
        <% } %>
        <label class="font-bold text-lg text-gray-600 pb-1 block">E-mail</label>
        <input name="email" type="email" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />
        <label class="font-semibold text-lg text-gray-600 pb-1 block">Password</label>
        <input name="password" type="password" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />
        <button type="submit"
          class=" text-center inline-block font-bold text-lg btn-primary  text-white w-full py-2.5 rounded-full text-sm shadow-sm ">
          <span class="inline-block mr-2 ">Login</span>
        </button>
      </form>
      <!-- FORM END -->

      <!-- SIGN UP -->
      <div class="py-5">
        <div class="grid grid-cols-1 gap-1">
          <div class="text-center  whitespace-nowrap">
            <a href="register" class="forgot-btn  mx-5 px-5 py-4 cursor-pointer font-bold text-sm rounded-full">
              <span class="inline-block ml-1">Sign Up</span>
            </a>
          </div>
        </div>
      </div>
      <!-- SIGN UP END -->

    </div>
  </div>

  <p class="text-center text-gray-500 text-xs">
    &copy;2021 Pizza Mania
  </p>
  
</section>